form {display:block; position:relative; text-align:left; padding:10px 0 22px 3%}
h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#main form input {border:1px solid #999; -webkit-appearance:none; margin-top: 12px;}

#main form label{
	font-size: 14px;
}
input#new_password{
	margin-left: 29px; 
}